<!DOCTYPE html>
<html>
  <head>
    <title>FashionOn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta property="og:title" content="FashionOn" />
     <meta property='og:image' content="<%= image_url('project_pic.png')%>"/>
     <meta property="og:description"
       content="FashionOn is a full stack web application with a flare for fashion based on Amazon where users can search items, 
       view items show pages and even have full CRUD functionality for leaving reviews."
     />
     <meta property="og:url"
       content="fashionon-app.herokuapp.com/#/"
     />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
